*{
	box-sizing: border-box;
 }

body {
	background: url('fundo.jpg');
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	height: 3em;
	margin-bottom: 1em;
}

header h1 {
	background: #ffffffd2;
	color: #43CD80;
	font-size: 50px;
	text-align: center;
	box-sizing: border-box;
    border: solid 3px #CDB5CD;
	border-radius: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}

header h1:hover {
	color: #008B45;
	font-size: 55px;
}

.container h2{
	font-size: 30px;
	display:inline-block;
	vertical-align:	middle;
	font-style: normal;
	margin: 20px 0px 0px 20px;
	color: #008B45;
	font-weight: bold;
}

header .container:befor e{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;	
}

.container-test{
	width: 60%;
	height: 100%;
	margin: 0 auto;	
	background: #cdb5cde3;
}

.container-test h2 {
	color: #43CD80;
	background: #ffffff86;
	border: 3px #000000;
	box-sizing: border-box;
    border: solid 3px #CDB5CD;
	border-radius: 10px;
	font-size: 50px;
	text-align: center;
	padding: 2;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th { 
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

tr, td {
	background: #ffffff86;
}

th{
	font-weight: bold;
	background-color: #CDB5CD;
	color: #000000;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color: #43CD80;
	border-color: #CDB5CD;
	width: 30%;
    display: block;
    clear: both;
	margin: 10px 0px;
	text-align: center;
}

button:hover {
	background: #008B45;
	font-size: 1.3em;
}
button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;
	color: #04324c;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}
.paciente-invalido{
    background-color: lightcoral;
}

#mensagens-erro{
    color: red;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

#filtrar-tabela {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}

.invisivel {
    display: none;
}

label {
	margin: 10px 10px 10px 10px;
}

